@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Montserrat ", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;  
}
.clear-fix
{
    clear: both;
}
.container{
    width: 75%;
    margin: auto;    
}
.lines
{
    width: 160px;
    height: 1px;
    background-color: #ff305b;
    margin: 24px auto;
    position: relative;
}
.lines::before
{
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    left: 25%;
    top: -5px;
    background-color: red;
}
.lines::after
{
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    left: 25%;
    top: 5px;
    background-color: red;
}
/********************header section********************/
.header{
    background-image: url(../images/hero\ img.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.navigation
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.header .navbar{
padding: 18px 0; 
width: 100%;
position: sticky;
top: 0;
z-index: 99;
}
.header .navbar a{
text-decoration: none;
}
.header .navbar .logo-img{
    float: left;
}
.header .navbar .logo-img a{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 800;
    Line-height: 25px;
    color: rgb(255, 48, 91);}
.header .navbar .header-list{
    float: right;
}

.header .navbar li{
    display: inline-block;
    padding: 0 10px;
}
.header .navbar li a{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.header .navbar .header-list a:hover
{
    color: rgb(255, 48, 91);
}
.header .navbar li .first-li{
    color: rgb(255, 48, 91);
}

.content{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: rgb(255, 48, 91)
}
.content span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.content p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    font-weight: 300;
}
.content p::after
{
    content: "designer";
    animation-name: wordMover;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes wordMover
{
    0%{content: "Designer  |"}
    10%{content:"  |"}
    20%{content:"Developer  |"}
    30%{content:"  |"}
    40%{content: "Designer  |"}
    50%{content:"  |"}
    60%{content:"Developer  |"}
    70%{content: "Designer  |"}
    80%{content:"  |"}
    90%{content:"Developer  |"}
    100%{content: "Designer  |"}
}
/*******************About Section********************/
.about{
    padding: 100px 0 125px 0;
}
.profile-img{
    box-shadow: 0 0 0 8px #555555;
    float: left;
    position: relative;
    border-radius: 5px;
    position: relative;
    margin-left: 18%;
}
.cover{
    background: rgba(0, 0, 0, 0.57) none repeat scroll 0 0;
    position: absolute;
    transform: translate(20px,20px);
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}
.profile-img:hover .cover {
    border-radius: 5px;
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.about .about-img img{
    width: 100%;
    border-radius: 5px;
    transform: translate(20px,20px);
}
.about-content{
    float: left;
    width: 48%;
    padding-left: 70px;
}

.about-content h2{
    font-family: 'Source Sans Pro', sans-serif;
    color:  rgb(51, 51, 51);
    margin-bottom: 20px;
    padding-left: 13px;
    font-size: 34px;
    font-weight: 600;
    position: relative;
}
.about-content h2:before {
    background-color: #ff305b ;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}
.about-content p
{
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px dashed #999999;
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    color: rgb(85, 85, 85);
}
.profile ul li
{
    font-family: 'Roboto', sans-serif;
    color: #555555;
    margin-bottom: 25px;
    float: left;
    width: 50%;
    list-style: none;

}
.profile ul li a
{
    color: #555555;
    text-decoration: none;
}
.profile span {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}
.btn button
{
    background-color: #ff305b ;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px 24px;
}
.btn button:hover
{
    background-color: #EC2403;
}
.btn button a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;

}
.iconss-socialmedia
{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.iconss-socialmedia li
{
    display: inline-block;
    padding: 10px;
}
.iconss-socialmedia li a
{
    color:#fff;
    transition: all 0.3s ease 0s;
}
.iconss-socialmedia li a:hover
{
    color: rgb(255, 48, 91);
}
/*******************Our Services Section********************/
.services{
    background-color: #F1F1F1;
    padding: 100px 0 125px 0;
}
.content-services{
    text-align: center;
}
.content-services h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(51, 51, 51);
}

.card-services
{
    text-align: center;
    float: left;
    width: 25%;
    transition: all 0.3s ease-in-out 0s;
    padding: 20px;
}
.card-services:hover
{
    background-color: #fff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.card-services h3
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}
.card-services p
{
    font-family: 'Roboto', sans-serif;
    color: rgb(85, 85, 85)
}
.card-services i
{
    color: #ff305b;
    display: block;
    font-size: 36px;
    margin-bottom: 1.25rem;
    transition: all 0.3s ease-in-out 0s;
}
.card-services:hover i
{
    transform: scale(1.2);
}
/*******************Our Portofolio Section********************/
.portfolio
{
    padding: 100px 0 125px 0;
}
.portfolio-content
{
    text-align: center;
}
.portfolio-content h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(51, 51, 51);
}
.links
{
    text-align: center;
}
.links button
{
    background-color: white;
    border: none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    padding: 3px 12px;
}
.links button:first-child
{
    color: #ff305b;
}
.portfolio-imgs
{
    margin-top: 50px;
}
.card-portfolio
{
    float: left;
    width: 30%;
    padding: 0 10px;
}
.portfolio-cover
{
    position: relative;
    margin-bottom: 30px;
}

.portfolio-cover
{
    position: relative;
    transition: all 0.3s ease 0s;
}
.portfolio-cover img
{
    width: 100%;
}

.pro-over
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}
.pro-icon
{
    position: absolute;
    bottom: 15px;
    color: #ff305b;
    font-size: 20px;
    right: 15px;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    opacity: 0;
}
.portfolio-cover:hover .pro-icon , .portfolio-cover:hover .pro-over
{
    visibility: visible;
    opacity: 1;
}
/*******************Testimonial Section********************/
.testimonial
{
    background-color: #F1F1F1;
    padding: 100px 0 100px 0;
}
.testimonial-icons
{
    float: left;
    width: 25%;
    text-align: center;
}
.testimonial-icons i 
{
    font-size: 26px;
    color: rgb(255, 48, 91);
}
.testimonial-icons h5
{
    font-size: 26px;
    font-weight: 800;
    color: rgb(51, 51, 51);
    margin: 15px 0 10px;
}
.testimonial-icons h3
{
    font-size: 16px;
    font-weight: 600;
    color: rgb(85, 85, 85);
    font-family: 'Source Sans Pro', sans-serif;
}
/*******************Feedback Section********************/
.feedback
{
    padding: 100px 0 100px 0;
}
.feed-back
{
    text-align: center;
}
.feed-back h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(51, 51, 51);
}
.feedback-card
{
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 5px;
    overflow: hidden;
    padding: 40px;
    position: relative;
    width: 70%;
    margin: auto;
}
.feedback-card::after
{
    border-color: #ff305b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 220px;
    content: "";
    height: 72px;
    left: -350px;
    position: absolute;
    top: 0;
    width: 177px;
    z-index: 1;
    transform: translateX(-10%);
}
.feedback-img
{
    border-radius: 50%;
    margin: 12px auto;
    overflow: hidden;
    position: relative;
    width: 110px;
    z-index: 999;
    float: left;
    width: 15%;
}

.feedback-img img
{
    width: 100%;
}
.content-feedback
{
    float: left;
    width: 78%;
    padding-left: 50px;
}
.content-feedback h3
{
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.content-feedback h4
{
    font-weight: 600;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.content-feedback h4 a
{
    font-weight: 600;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    text-decoration: none;
}
.content-feedback p
{
    font-size: 16px;
    font-style: italic;
}
.stars
{
    color: #f1c30d;
    margin-bottom: 12px;
    margin-top: 30px;
}
/*******************Blog Section********************/
.blog
{
    background-color: #F1F1F1;
    padding: 100px 0 100px 0;
    
}
.blog-address
{
    text-align: center;
}
.blog-address h2
{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    color: rgb(51, 51, 51);
}
.blog-card
{
    float: left;
    width: 33%;
    padding: 15px;
}
.blog-img img
{
    width: 100%;
}
.card-content
{
    background-color: #fff;
    padding: 10px;
}
.card-content p
{
    color: rgb(85, 85, 85);
    font-size: 20px;
}
.card-content h3
{
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #333333;
    margin: 15px 0 ;
    transition: all 0.3s ease 0s;
}
.card-content a
{
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}
.card-content h3:hover
{
    color: #ff305b;
}
.card-content a:hover
{
    color: #ff305b;
}
.blog-frame
{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 57%;
}
.blog-frame iframe
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/*******************Contact Us Section********************/
.contact
{
    padding: 100px 0 100px 0;
}
.contact-address
{
    text-align: center;
}
.contact-address h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(51, 51, 51);
}
.form
{
    width: 60%;
    margin: auto;
    text-align: center;
}
.form input
{
    height: 40px;
}
.form-control
{
    
    width: 100%;
    float: left;
    padding: 6px 12px;
    margin: 15px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.w-50
{
    width: 45%;
    float: right;
}
.w-l
{
    float: left;
}
.form-btn
{
    width: 25%;
    background-color: #ff305b;
    border-color: #ff305b;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    height: 40px;
    transition: 0.3s ease-in-out;
}
.form-btn:hover
{
    background-color: #EC2403;
}
/*******************Footer Section********************/
.footer
{
    background-color: #333;
    padding: 40px 0;
    text-align: center;
}
.socialmedia-icons
{
    margin-bottom: 10px;
}
.socialmedia-icons li
{
    display: inline-block;
    padding: 10px;
}
.socialmedia-icons li a
{
    color:#fff;
    transition: all 0.3s ease 0s;
}
.socialmedia-icons li a:hover
{
    color: rgb(255, 48, 91);
}
.copyRight
{
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
}
.copyRight a
{
    color: rgb(255, 48, 91);
    font-weight: 700;
    text-decoration: none;
}
.copyRight a:hover
{
    text-decoration: underline;
}
